<!DOCTYPE html>
<html>
  <head>
    <title>Typing Test</title>
  </head>
  <body>
    <div id="app">
      <h1>Typing Test</h1>
      <div v-if="testRunning == false">
        <button v-on:click="testRunning = true, startRace()">Start Test</button>
      </div>
      <div v-if="testRunning == true">
        <h2>{{randomSentence}}</h2>

        <input type="text" v-model="userInput" v-if="!finishedTyping" />
        <br />
        {{timeElapsed}} Seconds
        <br />
        {{wordsPerMinute}} WPM
        <button v-on:click="resetWithNewSentence()">
          Reset With New Sentence
        </button>
      </div>

      <div v-if="testRunning == false"></div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="app.js"></script>
  </body>
</html>
